name: Build nav3-recipes

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set Up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build debug app
        run: ./gradlew assemblerelease
      - name: Get release name
        if: success() && github.ref == 'refs/heads/Main'
        id: release-name
        run: |
          name=`ls app/build/outputs/apk/release/*.apk | awk -F '(/|.apk)' '{print $6}'` && echo "name=${name}" >> $GITHUB_OUTPUT

      - name: Upload apk
        if: success() && github.ref == 'refs/heads/Main'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.release-name.outputs.name }}
          path: app/build/outputs/apk/release/*.apk*

      - name: Upload mapping
        if: success() && github.ref == 'refs/heads/Main'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.release-name.outputs.name }}-mapping
          path: app/build/outputs/mapping/release
